meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Aprovechamiento de residuos en agricultura urbana
meta(meta name="description" content="Este material de formaci칩n permite conocer los temas relacionados con las soluciones nutritivas que se utilizan en la agricultura urbana, especialmente en los cultivos hidrop칩nicos y tener una idea clara del aprovechamiento que por medio de algunas pr치cticas se puede hacer de los residuos org치nicos a nivel urbano.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")