.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Manejo de Sustratos y Fertilización en Agricultura Urbana
            h1.curso-titulo Aprovechamiento de residuos en agricultura urbana

            .brand-line-primary

            p.curso-descripcion Este material de formación permite conocer los temas relacionados con las soluciones nutritivas que se utilizan en la agricultura urbana, especialmente en los cultivos hidropónicos y tener una idea clara del aprovechamiento que por medio de algunas prácticas se puede hacer de los residuos orgánicos a nivel urbano.

            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")