include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h1 Introducción

    p.text-center.my-5
        img(src="assets/images/pages/introduccion/introduccion.jpg").img-fluid.mb-3.mb-md-0

    section.card-border-bottom.mt-5
        .card
            .card-body

                p.mb-5 Cuando de agricultura urbana se habla la metodología  de cultivos hidropónicos ocupa una importante franja dentro de este sistema de producción agrícola en las ciudades, para lo cual resultan fundamentales las soluciones nutritivas que  brindan todos los nutrientes que las plantas requieren. 

                p.mb-5 Resulta fundamental conocer la composición de estas soluciones nutritivas, y la forma cómo se realizan y cómo se utilizan dentro de los cultivos para lograr los resultados esperados en cuanto a la producción.

                p.mb-5 Existen algunas recomendaciones que son muy importantes seguir para que las soluciones nutritivas produzcan el efecto que se espera en el crecimiento, desarrollo y producción de los vegetales de la huerta urbana.

                p.mb-5 La generación de residuos urbanos es un problema que se incrementa a medida que las ciudades se vuelven más grandes y, por lo tanto, aumenta su número de habitantes que por estar en una sociedad el consumismo desechan cada día una inmensa cantidad de basura. 

                p.mb-5 De esta cantidad de basura que en su inmensa mayoría llega a los rellenos sanitarios, los residuos orgánicos representan una alta proporción y muy pocas comunidades tienen los conocimientos y la disposición para brindarles un adecuado manejo y un reciclaje que permita la obtención de un insumo muy importante para la fertilización de huertas urbanas.

                p A través de diferentes procesos como el compostaje, la lombricultura, la preparación de Bocashi y la utilización de microorganismos eficientes EM, estos residuos pueden convertirse en abono que se utiliza para promover el crecimiento de las plantas que se producen bajo el sistema de la agricultura urbana.