.container

  ol

    li 
      p Llanos Peada, P. H. (2001, 18 mayo). La solución nutritiva, nutrientes comerciales, fórmulas completas. 
        a(href="http://www.drcalderonlabs.com/Hidroponicos/Soluciones1.html", target="_blank") http://www.drcalderonlabs.com/Hidroponicos/Soluciones1.html

    li 
      p Marulanda, C. (2013). La huerta hidropónica popular [Curso Audiovisual]. 
        a(href="http://www.fao.org/3/ah501s/ah501s.pdf", target="_blank") http://www.fao.org/3/ah501s/ah501s.pdf

    li 
      p Ministerio de agricultura y ganadería. (s.f.-a). Elaboración y uso del bocashI [Guía]. 
        a(href="http://www.fao.org/3/a-at788s.pdf", target="_blank") http://www.fao.org/3/a-at788s.pdf

    li 
      p Ministerio de agricultura y ganadería. (s.f.-b). Guía de la tecnología de EM [Guía]. 
        a(href="http://www.infoagro.go.cr/Inforegiones/RegionCentralOriental/Documents/Boletin%20Tecnologia%20%20EM.pdf", target="_blank") http://www.infoagro.go.cr/Inforegiones/RegionCentralOriental/Documents/Boletin%20Tecnologia%20%20EM.pdf

    li 
      p Sanabria Suarez, D. (2006, 12 julio). Conductividad eléctrica por el método electrométrico en aguas [Guía de IDEAM]. 
        a(href="http://www.ideam.gov.co/documents/14691/38155/Conductividad+El%C3%A9ctrica.pdf/f25e2275-39b2-4381-8a35-97c23d7e8af4", target="_blank") http://www.ideam.gov.co/documents/14691/38155/Conductividad+El%C3%A9ctrica.pdf/f25e2275-39b2-4381-8a35-97c23d7e8af4

    li 
      p Sela, G. (s.f.). Soluciones nutritivas en hidroponía [Curso Audiovisual]. 
        a(href="https://www.smart-fertilizer.com/es/articles/hydroponic-nutrient-solutions", target="_blank") https://www.smart-fertilizer.com/es/articles/hydroponic-nutrient-solutions