//Colores base del material de formación
$brand-color-dark: #70AD54;
$text-color-dark: #fff;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #FDAC29;
$text-color-light: #fff;
$brand-color-secondary: rgba(254, 217, 123, .8);

